html, head, body, h1 {
  margin: 0;
  padding: 0;
}

html, body, .Container-Wrapper {
  height: 100%;
}

.Container-Wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 24px;
}

.Text-Header {
  padding-top: 12px;
  font-weight: normal;
  font-size: 22px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: #4D0015;
}

.Text-Description, .Text-Footer, .Text-Permissions {
  font-family: Verdana, Geneva, sans-serif;
  color: #545454;
}

.Text-Description {
  font-size: 14px;
}

.Text-Code {
  font-family: "Courier New", Courier, monospace;
}

.Text-Footer, .Text-Permissions {
  font-size: 12px;
}

.Text-Footer a, .Text-Permissions a {
  color: #74132D;
  text-decoration: none;
}

.Text-Footer a:hover, .Text-Permissions a:hover {
  text-decoration: underline;
}

hr {
  border: 1px solid #4D0015;
}

.Image-ChromeTabs {
  margin: 12px 0;
  width: 300px;
}

.Image-TabulatorPage {
  margin: 12px 0;
  width: 100%;
}
